@model Alnet.AudioServer.Web.Models.PlayerFullInfoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="a_playback">
    <div id="a_title">
        <span>@Model.Playback.SoundName</span>
    </div>
    <div id="a_timeline">
        <input type="range" name="a-timeline" id="a-timeline" min="0" max="100" value="50" data-mini="true" data-highlight="true">
    </div>
</div>
<div id="a_controls">
    <div class="ui-grid-c">
        <div class="ui-block-a"><input type="button" value="Play" /></div>
        <div class="ui-block-b"><input type="button" value="<" /></div>
        <div class="ui-block-c"><input type="button" value=">" /></div>
        <div class="ui-block-d"><a href="#popupVolume" data-role="button" data-rel="popup">Volume</a></div>
    </div>
</div>
<div id="popupVolume" data-role="popup">
        <form>
            <fieldset data-role="controlgroup" data-iconpos="left">
                @for (int channelIndex = 0; channelIndex < Model.Channels.Count; channelIndex++)
                {
                    var channel = Model.Channels[channelIndex];
                    @Html.Label(channelIndex.ToString(), channel.Name, new { @for = channelIndex.ToString() });
                    @Html.CheckBox(channelIndex.ToString(), channel.IsEnabled, new { id = channelIndex });
                }
            </fieldset>
        </form>    
</div>
<div data-role="collapsible" data-inset="false">
    <h3>Список воспроизведения</h3>
    <form>
        <ul data-role="listview" data-inset="true">
            @for (int soundIndex = 0; soundIndex < Model.Sounds.Count; soundIndex++)
            {
                string soundName = Model.Sounds[soundIndex];
                <li>@soundName</li>
            }
        </ul>
    </form>
</div>




