@model Alnet.AudioServer.Web.Models.MainPageModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";  
}

<h2>@ViewBag.Message</h2>
<p>
   
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Плееры</li>
    @foreach (var player in @Model.Players)
    {
        <li>@Html.ActionLink(player.Current.Name, "View", "Player", new { id = player.PlayerId }, null)</li>
    }    
    <li>@Html.ActionLink("Создать", "New", "Player")</li>
</ul>